body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
}
